<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
        type="email"
        placeholder="Email">
        <mat-error *ngIf="emailInput.invalid">Plear enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        type="password"
        placeholder="Password">
        <mat-error *ngIf="passwordInput.invalid">Plear enter a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Login</button>
  </form>
</mat-card>
